.main {
  margin: 0 31px;
  width: 100vw;
  &--archive {
    margin: 0;
  }

  &__topCards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }

  &__bottomCards {
    display: flex;
    justify-content: space-between;
  }
  //Main storage card
  .storage,
  .usersCard,
  .files,
  .office {
    width: 350px;
    height: 205px;
    border-radius: 5px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
    position: relative;
  }
}
.usersCard {
  background-color: #fff;
  &__label {
    font-weight: 600;
    color: #2c2c2c;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
  }
  &--flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__data {
    font-size: 34px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 125px;

    span {
      display: inline-block;
    }

    &--user {
      font-size: 1rem;
      font-weight: 600;
    }
  }
}
.storage {
  background-color: #fff;
  &__label {
    font-weight: 600;
    color: #2c2c2c;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
  }

  &__used,
  &__left {
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
    position: absolute;
    font-weight: 600;
    width: 83.23px;
    ::before {
      content: "";
      clear: both;
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      position: absolute;
      left: 0px;
      top: 8px;
    }
    span {
      font-size: 1.7rem;
    }
  }

  &__used {
    right: 7%;
    top: 15%;
    ::before {
      background-color: #3775ae;
    }
  }

  &__left {
    right: 7%;
    top: 48%;
    ::before {
      background-color: #f98901;
    }
  }

  &__container {
    position: absolute;
    top: 53%;
    left: 36%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 200px;
  }
}

.office {
  background-color: #fff;
  &__label {
    font-weight: 600;
    color: #2c2c2c;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
  }
  &__flexCont {
    display: flex;
    height: calc(100% - 31px);
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
  }

  &__flex {
    display: flex;
  }

  &__data {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 130px;
    &--number {
      font-size: 34px;
      font-weight: 600;
    }

    span {
      font-weight: 500;
    }
  }
}

.monitorCard {
  width: 959px;
  height: 705px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
  margin-top: 66px;

  &__step {
    display: flex;
    width: 840px;
    margin: 44px;
    justify-content: space-between;
    border-bottom: 1px solid #4a4a4a;
  }

  &__step1,
  &__step2 {
    position: relative;
    cursor: pointer;
    &::after {
      content: url("http://localhost/DAMS/public/images/dots.png");
      clear: both;
      display: block;
      position: absolute;
      cursor: default;
      top: 20%;
    }
  }
  &__step1 {
    border-bottom: 5px solid #4a4a4a;
    padding-bottom: 32px;
    &::after {
      right: -135%;
    }
  }
  &__step2 {
    &::after {
      right: -123%;
    }
  }

  &__step3 {
    cursor: pointer;
  }

  &__tableHead {
    margin: 0 44px;
    table {
      width: 100%;
      border-collapse: collapse;

      th {
        text-align: left;
        padding: 13px 23px;
      }

      tr {
        padding: 0 44px;
        background-color: #efefef;
      }
    }
  }
  &__tableCont {
    margin: 0 44px;
    font-size: 1.125rem;
    height: 470px;
    overflow-y: scroll;
    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0 15px;
    }

    th {
      text-align: left;
      padding: 13px 23px;
    }

    tr {
      padding: 0 44px;
      background-color: #efefef;
      cursor: pointer;
    }

    td {
      padding: 13px 23px;
    }
  }
}

.files {
  background-color: #fff;
  &__label {
    font-weight: 600;
    color: #2c2c2c;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
  }

  &__flexCol {
    display: flex;
    flex-flow: column;
    height: calc(100% - 31px);
    justify-content: space-evenly;
    align-items: flex-start;
  }

  &__totalFiles {
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: 30px;
    padding-left: 2.5rem;
  }

  &__flex {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  &__docx,
  &__pdf {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 600;

    img {
      margin: 0 10px;
    }
  }
}

.activityLog {
  background-color: #fff;
  height: 704px;
  width: 566px;
  margin-top: 66px;
  border-radius: 5px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
  font-size: 1.125rem;
  font-weight: 700;

  &__logs {
    margin: 50px 50px;
    height: 567px;

    overflow-y: scroll;
  }
  &__label {
    margin-top: 10px;
    margin-left: 10px;
  }
  &__label,
  &__day span {
    color: #000;
  }

  &__day ul {
    margin-left: 50px;
  }
}
