.monitor {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.top-nav {
  height: 76px;
  background: #fff;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  align-items: center;
  .search-container {
    margin-left: 35px;
  }

  .search {
    height: 50px;
    border-radius: 24.5px;
    width: 500px;
    background-color: #efefef;
    outline: none;
    border: none;
    position: relative;
    padding-left: 80px;
    font-size: 18px;
    caret-color: #eb8202;
  }

  .search-icon {
    font-size: 50px;
    position: absolute;
    z-index: 2;
    margin-left: 23px;
    color: #eb8202;
  }
}

.monitor-main {
  height: 100%;
  position: relative;
  overflow: hidden;
  .cards {
    margin-top: 56px;
    position: absolute;
    margin-left: 20px;
    width: 1066px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 100%;
    justify-content: space-between;
    &::-webkit-scrollbar {
      visibility: hidden;
    }
  }
  .card {
    width: 519px;
    height: 298px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    background: #fff;
    position: relative;
  }

  .card-pending {
    &::before {
      content: "";
      clear: both;
      display: inline-block;
      width: 12px;
      height: 298px;
      top: 0;
      background: #504fac;
      position: absolute;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
  .card-inprogress {
    &::before {
      content: "";
      clear: both;
      display: inline-block;
      width: 12px;
      height: 298px;
      top: 0;
      background: rgba(235, 130, 2);
      position: absolute;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }

  .card-success {
    &::before {
      content: "";
      clear: both;
      display: inline-block;
      width: 12px;
      height: 298px;
      top: 0;
      background: #4fac58;
      position: absolute;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }

  .card-title {
    font-weight: 500;
    font-size: 24px;
    margin-top: 20px;
  }

  .requested-form,
  .purpose,
  .date-coverage {
    margin-bottom: 15px;
  }
  .card-title,
  .requested-form,
  .purpose,
  .date-coverage,
  .tracking,
  .status {
    margin-left: 30px;
  }

  .status {
    padding: 4px 12px;
    display: inline-block;
    margin-top: 40px;

    &-pending {
      border: 1px solid rgba(5, 3, 135);
      color: rgba(5, 3, 135);
    }

    &-inprogress {
      border: 1px solid rgba(235, 130, 2);
      color: rgba(235, 130, 2);
    }
    &-success {
      border: 1px solid #4fac58;
      color: #4fac58;
    }
  }
}

.top-links {
  margin: 56px 20px 0 20px;
  width: calc(99% - 20px);
  border-bottom: 2px solid rgba(5, 3, 135, 0.5);

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 435px;
  }

  ul li a {
    font-size: 18px;
    &:hover {
      border-bottom: 5px solid rgba(5, 3, 135);
    }
  }

  &-control {
    ul {
      width: 357px;
    }
  }
}
