* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  color: #303030;
}

a {
  color: #303030;
  text-decoration: none;
}

ul {
  list-style: none;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login__form {
  width: 42.187rem;
  height: 51.062rem;
  border-radius: 5px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.075);
}
.login__form--flex {
  display: flex;
  flex-flow: column;
  margin: 16.562rem 3.937rem;
}
.login__username, .login__password, .login__submit {
  padding: 1.375rem 2rem;
  border-radius: 5px;
  border: none;
}
.login__username, .login__password {
  background-color: rgba(229, 229, 229, 0.28);
  margin-bottom: 2.25rem;
}
.login__submit {
  background-color: #4ba855;
  color: #fff;
  font-weight: bold;
}

.sidebar {
  width: 15.625rem;
  height: 100vh;
  background-color: #4ba855;
}
.sidebar--flex {
  display: flex;
}
.sidebar__logo {
  margin-top: 1.687rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.sidebar__title {
  color: #fff;
  font-weight: bold;
}
.sidebar__nav {
  margin: 0 1.687rem;
}
.sidebar__nav li {
  margin: 1rem 0;
}
.sidebar__nav a {
  color: #fff;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 6px 1rem;
}
.sidebar__nav a:hover {
  background-color: #409749;
}

.main {
  margin: 0 31px;
  width: 100vw;
}
.main__topCards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}
.main .storage,
.main .usersCard,
.main .files,
.main .office {
  width: 350px;
  height: 205px;
  border-radius: 5px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

.storage__label {
  font-weight: 600;
  color: #2c2c2c;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}
.storage__used, .storage__left {
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
  position: absolute;
  font-weight: 600;
  width: 83.23px;
}
.storage__used ::before, .storage__left ::before {
  content: "";
  clear: both;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: 8px;
}
.storage__used span, .storage__left span {
  font-size: 1.7rem;
}
.storage__used {
  right: 7%;
  top: 15%;
}
.storage__used ::before {
  background-color: #3775ae;
}
.storage__left {
  right: 7%;
  top: 48%;
}
.storage__left ::before {
  background-color: #f98901;
}
.storage__container {
  position: absolute;
  top: 53%;
  left: 36%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 200px;
}

.files__label {
  font-weight: 600;
  color: #2c2c2c;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}
.files__flexCol {
  display: flex;
  flex-flow: column;
  height: calc(100% - 31px);
  justify-content: space-evenly;
  align-items: flex-start;
}
.files__totalFiles {
  display: block;
  width: 100%;
  font-weight: 600;
  font-size: 30px;
  padding-left: 2.5rem;
}
.files__flex {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.files__docx, .files__pdf {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
}
.files__docx img, .files__pdf img {
  margin: 0 10px;
}

.usersCard__label {
  font-weight: 600;
  color: #2c2c2c;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}
.usersCard--flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.usersCard__data {
  font-size: 34px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 125px;
}
.usersCard__data span {
  display: inline-block;
}
.usersCard__data--user {
  font-size: 1rem;
  font-weight: 600;
}

.office__label {
  font-weight: 600;
  color: #2c2c2c;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}
.office__flexCont {
  display: flex;
  height: calc(100% - 31px);
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}
.office__flex {
  display: flex;
}
.office__data {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 130px;
}
.office__data--number {
  font-size: 34px;
  font-weight: 600;
}
.office__data span {
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
