.sidebar {
  background-color: #044a8b;
}

.sidebar-links li {
  background-color: #044a8b;
}
.sidebar-link:hover {
  background-color: #005cb3;
}

.card-label {
  position: relative;
}
.table-card {
  height: calc(100vh - 255px);
}

.table-body {
  height: 300px;
}

.card-icon {
  color: #044a8b;
  position: absolute;
  right: 0;
  font-size: 35px;
}

.number {
  color: #044a8b;
}
.chart-size {
  width: 250px;
}

.active-archive {
  background-color: #005cb3;
}

.select-custom {
  display: inline-block !important;
  width: 50% !important;
}

.control-icon {
  font-size: 80px;
  margin-left: 50px;
}
.settings {
  outline: none;
  border: none;
}

.cards-container {
  max-height: calc(100vh - 208px);
}

.cards-container::-webkit-scrollbar {
  display: none;
}
.card-custom {
  position: relative;
  height: 100%;
}
.card-custom::after {
  content: "";
  clear: both;
  display: block;
  height: inherit;
  width: 12px;
  position: absolute;
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  background: #0a53be;
}

.select-custom {
  display: block;
  width: 150px;
}

.profile-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modalCustom {
  z-index: 9999 !important;
}
.modal-bg {
  background-color: rgba(0, 0, 0, 0.8) !important;
  display: none;
  z-index: 0;
}
