@mixin activityLogs {
  .activityLog {
    background-color: #fff;
    height: 704px;
    width: 566px;
    margin-top: 66px;
    border-radius: 5px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
    font-size: 1.125rem;
    font-weight: 700;

    &__logs {
      margin: 50px 50px;
      height: 567px;

      overflow-y: scroll;
    }
    &__label {
      margin-top: 10px;
      margin-left: 10px;
    }
    &__label,
    &__day span {
      color: #000;
    }

    &__day ul {
      margin-left: 50px;
    }
  }
}
