@mixin main {
  .main {
    margin: 0 31px;
    width: 100vw;

    &__topCards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;
    }

    &__bottomCards {
      display: flex;
      justify-content: space-between;
    }
    //Main storage card
    .storage,
    .usersCard,
    .files,
    .office {
      width: 350px;
      height: 205px;
      border-radius: 5px;
      box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
      position: relative;
    }
  }
}
