@mixin monitorCard {
  .monitorCard {
    width: 959px;
    height: 705px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
    margin-top: 66px;

    &__step {
      display: flex;
      width: 840px;
      margin: 44px;
      justify-content: space-between;
      border-bottom: 1px solid #4a4a4a;
    }

    &__step1,
    &__step2 {
      position: relative;
      cursor: pointer;
      &::after {
        content: url("http://localhost/DAMS/public/images/dots.png");
        clear: both;
        display: block;
        position: absolute;
        cursor: default;
        top: 20%;
      }
    }
    &__step1 {
      border-bottom: 5px solid #4a4a4a;
      padding-bottom: 32px;
      &::after {
        right: -135%;
      }
    }
    &__step2 {
      &::after {
        right: -123%;
      }
    }

    &__step3 {
      cursor: pointer;
    }

    &__tableHead {
      margin: 0 44px;
      table {
        width: 100%;
        border-collapse: collapse;

        th {
          text-align: left;
          padding: 13px 23px;
        }

        tr {
          padding: 0 44px;
          background-color: #efefef;
        }
      }
    }
    &__tableCont {
      margin: 0 44px;
      font-size: 1.125rem;
      height: 470px;
      overflow-y: scroll;
      table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 15px;
      }

      th {
        text-align: left;
        padding: 13px 23px;
      }

      tr {
        padding: 0 44px;
        background-color: #efefef;
        cursor: pointer;
      }

      td {
        padding: 13px 23px;
      }
    }
  }
}
