@mixin officeCard {
  .office {
    background-color: #fff;
    &__label {
      font-weight: 600;
      color: #2c2c2c;
      display: inline-block;
      margin-top: 10px;
      margin-left: 10px;
    }
    &__flexCont {
      display: flex;
      height: calc(100% - 31px);
      align-items: center;
      width: 100%;
      justify-content: space-evenly;
    }

    &__flex {
      display: flex;
    }

    &__data {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 130px;
      &--number {
        font-size: 34px;
        font-weight: 600;
      }

      span {
        font-weight: 500;
      }
    }
  }
}
