@mixin storageCard {
  .storage {
    background-color: #fff;
    &__label {
      font-weight: 600;
      color: #2c2c2c;
      display: inline-block;
      margin-top: 10px;
      margin-left: 10px;
    }

    &__used,
    &__left {
      display: flex;
      align-items: flex-end;
      flex-direction: column-reverse;
      position: absolute;
      font-weight: 600;
      width: 83.23px;
      ::before {
        content: "";
        clear: both;
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        position: absolute;
        left: 0px;
        top: 8px;
      }
      span {
        font-size: 1.7rem;
      }
    }

    &__used {
      right: 7%;
      top: 15%;
      ::before {
        background-color: #3775ae;
      }
    }

    &__left {
      right: 7%;
      top: 48%;
      ::before {
        background-color: #f98901;
      }
    }

    &__container {
      position: absolute;
      top: 53%;
      left: 36%;
      transform: translate(-50%, -50%);
      width: 180px;
      height: 200px;
    }
  }
}
