@mixin usersCard {
  .usersCard {
    &__label {
      font-weight: 600;
      color: #2c2c2c;
      display: inline-block;
      margin-top: 10px;
      margin-left: 10px;
    }
    &--flex {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    &__data {
      font-size: 34px;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 125px;

      span {
        display: inline-block;
      }

      &--user {
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }
}
